body {
	margin: 0;
	padding: 0;
	background: gray;
}

h1 {
	text-align: center;
	color: white;
	font-size: 40px;
	padding-top: 15px;
}


div {
	
}

#container {
	/*background: url(urlImage); no longer needed as is set by the randomizer*/
	background-size: cover;
    background-repeat: no-repeat;
    margin: auto; 
	height: 300px;
	width: 400px;
	border: 30px solid red;

}

.box {
	width: 50px;
	height: 75px;
	background: white;
	float: left;
	border-size: 5px;
	border-color: rgba(255,255,255,0);

}

button {
	background: green;
	margin: 40px;
}

.demo {
	text-align: center;
	color: red;
	font-size: 40px;
	padding-top: 2px;

}


.transparent {
	background: none;
	transition: all 2s;
}

#score1 {
    font-size:  28;
    background-color: green;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
}

#score2 {
    font-size:  28;
    background-color: blue;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
}

#answerInput {
    font-size:  28;
    background-color: white;
    color: white;
    height: 40px;
    width: 120px;
    text-align: center;
}
