body {
	margin: 0;
	padding: 0;
	background: url(redbkwallpaper.jpg) center center no-repeat;
}

h1 {
	text-align: center;
	color: white;
	font-size: 40px;
	padding-top: 15px;
}


div {
	
}

.frame{
	background: url(frame.png) center center no-repeat;
	background-size: cover;
	width: 600px;
	height: 490px;
	margin: 0 auto;
	position: relative;
}

#container {
	background-size: cover;
    background-repeat: no-repeat;
	height: 300px;
	width: 400px;
	position: absolute;
	left: 50%;	/*centering trick*/
	margin-left: -200px;
	top: 95px;
}

.box {
	width: 50px;
	height: 75px;
	background: white;
	float: left;
	border-size: 5px;
	border-color: rgba(255,255,255,0);

}

#myButton {
	background: #DEA72E;
	color: #3F0504;
	text-align: center;	
	font-size: 15px;
	position: absolute;
	left: 70px;
	top: -400px;
	padding: 20px;
}

#resetGame {
	background: #3F0504;
	color: #A01717;
	text-align: center;	
	font-size: 15px;
	position: absolute;
	left: 120px;
	top: -300px;
	padding: 8px;
}

.transparent {
	background: none;
	transition: all 1s;
}

#score1 {
    font-size:  28;
    background-color: green;
    color: white;
    height: 40px;
    width: 60px;
    text-align: center;
}

#score2 {
    font-size:  28;
    background-color: blue;
    color: white;
    height: 40px;
    width: 60px;
    text-align: center;
}

#answerInput {
    font-size:  28;
    background-color: white;
    color: white;
    height: 40px;
    width: 120px;
    text-align: center;
}
.holder {
	margin: 0 auto;	
	position: relative;
}